
body{
    background-size:cover;

}
#head{
    position: absolute;
    left: 130px;
}
#ul1{
    color: aqua;
}

#search{
    height: 50px;
    width: 700px;
    
    position:relative;
    left: 700px;
    top: 90px;
    
}


#s{
    height: 300px;
    width: 300px;
    background-color:#F7F7F7;
   
    border-style:groove;
    border-color:#333333;
    border-radius: 10%;
    align-content:space-evenly;
    
}
#b1{
    height: 50px;
    width: 70px;
    background-color: green;
    position: relative;
    left: 10px;
    top: 80px;
      
}
#buy{
    position: relative;
    left: 100px;
     bottom:50px;  
}
#b{
    height: 300px;
    width: 300px;
    background-color:#F7F7F7;
    border-radius: 10%;
    border-style:groove;
    border-color:#333333;
    position: sticky;
    left: 0px;
   
   
    z-index: 1;
    
   }

#b2{
    height: 50px;
    width: 70px;
    background-color: red;
    position:relative;
    left: 10px;
    top: 200px;
   

}
#sell{
    position: relative;
    left: 100px;
    top: 70px;
}







#d2{
    height: 100px;
    width: 280px;
    border-radius: 2%;
    background-color:blanchedalmond;
   animation: berlin 4s ;
    font-style:italic;   
}
@keyframes berlin {
    from{right:700px ;}
    to{right: 0px;}
    
}
#d2 img{
   height: 40px;
   width: 40px;
   border-radius: 50%;
}

#h31{
    color: white;
    
}

#h31 h3{
    font-style: oblique;
}
#d1{
    height: 60px;
    width: 60px;
    background-color:lightgreen;
    border-radius: 20%;
    position: sticky;
    left: 1500px;
    top: 600px;
    z-index: 2;
}


#footer{
    background-color: black;
    height: 700px;
    width: 100%;
    position: absolute;
    top: 1500px;
    
}



#f2{
    background-color: gray;
    height: 50px;
    width: 100% ;
    position: relative;
    top: 500px;
    font-size: 36px;
    
}



#foot{
    background-color: black;
    height: 1700px;
    width: 100%;
}
#Ex{
    color: white;
    position: relative;
    top:350px;
    
}
#res{
    position: relative;
    top:400px;
   
}
#bu{
    position:relative;
    top:400px;
    left: 0px;
    
}
#hr1{
    height: 5px;
    background-color: #F7F7F7;
    position: relative;
    top: 700px;
}
